.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar_gradient{
  background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8);
}
.link_style:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.link_style{
  text-decoration: none;
  color:white;
  margin-left: 10px;
  margin-right: 10px;
}
.pointer{
  cursor: pointer;
}
.spinner_margin {
  margin-top:25%;
}
.card_shadow{
  background-color:  whitesmoke;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.card_shadow:hover{
  background-color:white ;
  box-shadow: 0 0 31px rgba(33,33,33,.2);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.margin-10{
  margin: 10px;
}
.margin-top-10{
  margin-top: 10px;
}
/* Animation Start */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
/* Animation End */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
